@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0B4uaVIGxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Tilt Warp';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tiltwarp/v5/AlZc_zVDs5XpmO7yn3w7flUoytXJp3z29uEwmEMLEJljLXvT8UJSZQB4C1b8GA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@import url(font-icon.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;

}
/* ====================
   Start Generic 
*/

body {
  background-color: #222831;
  color: #dfdfdf;
}
a {
  text-decoration: none;
  color: #dfdfdf;
  font-size: 17px;
}
img {
  width: 30%;
}
progress {
  height: 1em;
  border-radius: 20px;
  display: block;
  position: relative;
  width: 100%;
  min-width: 120px;
}
.prog-container h5 {
  text-align: start;
}
progress::after {
  content: attr(data-value);
  position: absolute;
  left: 36%;
  bottom: -6px;
  color: black;
}
progress::-webkit-progress-bar {
  border-radius: 20px;
}
progress::-webkit-progress-value {
  background-color: #00d0db;
  border-radius: 20px;
}
progress::-moz-progress-bar {
  background-color: #00d0db;
  border-radius: 20px;
}
h2,
strong {
  color: #00adb5;
  font-family: "Tilt Warp", cursive;
}
section p {
  color: rgb(179, 177, 177);
}

/* ====================
   Start Header 
*/

header {
  background-color: #393e46;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
header a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}
header a:hover {
  background-color: #555;
  color: #dfdfdf;
}
#nav-mobile-icon {
  display: none;
  cursor: pointer;
}
#nav-mobile-icon:hover {
  background-color: #00adb5;
  color: #000000;
}

.home-page {
  flex: 1 1 0px;
  text-align: start;
}
.active {
  background-color: #00adb5;
  color: #dfdfdf;
}
.active:hover {
  color: #00adb5;
  background-color: #dfdfdf;
}

/* ====================
    Start Main 
*/
main {
  min-height: calc(100vh - 6.4rem);
  padding: 15px;
  max-width: 1400px;
  margin: 0 auto;
}

/* ====================
    About me and skills
*/
.about-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  line-height: 26px;
}
.about-me {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 25px;
  width: 50%;
}
.about-me img {
  max-width: 130px;
}
.about-me p {
  margin-bottom: 20px;
}
.about-me p strong {
  letter-spacing: 2.7px;
  font-size: 20px;
}
#after-about {
  border-left: 1px solid white;
  margin: 0 20px;
  height: 35vh;
}
.skills {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  gap: 10px;
  text-align: center;
}
.skills h2 {
  margin-top: 20px;
}
.skills p {
  width: 100%;
}

.prog-container {
  width: 100%;
}
.prog-container div {
  display: inline-flex;
  flex-direction: column;
  margin: 5px;
}
.prog-container div h4 {
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.start-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: space-evenly;
}
#continue-foss {
  width: 52px;
  background-color: transparent;
  border: none;
  color: white;
}
.scroll-foss {
  cursor: pointer;
}
#continue-foss:hover {
  opacity: 70%;
}
/* ====================
Mobile Chart
*/
#chart-mobile {
  visibility: collapse;
}
.chart-container {
  width: 90%;
  height: 40vh;
}
/* ====================
    FOSS
*/
.after-section {
  width: 20%;
  margin: 15px auto 5px auto;
  visibility: hidden;
}
.foss {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.foss-header {
  margin: 15px 0;
}
.foss-info {
  padding: 10px;
  max-width: 50%;
  margin: 0 auto 16px auto;
  text-align: center;
}
.foss-projects {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.project-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 7px 2px;
}
.project-description {
  max-width: 300px;
}
.project {
  padding: 5px;
}
.badges * {
  background-color: #3763f4;
  color: white;
  border-radius: 20px;
  padding: 0 0.5rem;
  font-size: 0.9rem;
}
.project img {
  width: 300px;
  border-radius: 20px;
}
.project img:hover {
  box-shadow: 1px 1px 7px 1px rgb(121, 34, 34);
}
.on-github {
  border: 1px solid #00adb5;
  border-radius: 20px;
  padding: 2px 6px;
  display: block;
  text-align: center;
  color: white;
}
.on-github:hover {
  color: #00f2ff;
  background-color: transparent;
}
/* ====================
    Footer
*/
footer {
  background-color: #393e46;
  color: #ff2e63;
  font-size: 0.9rem;
  padding: 15px 0px;
  text-align: center;
}

/* ====================
   Queries  
*/
@media screen and (max-width: 680px) {
  header {
    display: block;
  }
  header a:not(.home-page) {
    display: none;
  }
  header a:hover:not(.active) .icon-normal::before {
    content: "chevron_right";
    vertical-align: -5px;
  }
  header.nav-mobile a {
    float: none;
    display: block;
    text-align: left;
  }
  #nav-mobile-icon {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .about-container {
    flex-direction: column;
  }
  #after-about {
    border: none;
    height: 0;
    border-bottom: 1px solid white;
    width: 90%;
    margin-top: 20px;
  }
  .skills {
    width: 100%;
    margin-top: 20px;
  }
  .skills p {
    max-width: 80%;
  }
  .about-me {
    width: 100%;
    height: auto;
  }
  .prog-container {
     display: inline;
    padding-left: 40px;
  }
  #chart-mobile {
    visibility: visible;
  }

  td {
    opacity: 75%;
  }
  .prog-container div {
    margin: 10px;
  }
  .after-section {
    width: 90%;
    visibility: visible;
  }
  .start-section {
    height: auto;
  }
  #continue-foss {
    display: none;
  }
  .foss-info {
    max-width: 100%;
  }
}
@media only screen and (max-width: 452px) {
  .skills > * {
    display: block;
    width: 100%;
  }

}

@media screen and (min-width: 681px) and (max-width: 772px) {
  #after-about {
    height: 68vh;
  }
  .skills {
    text-align: justify;
  }
}
@media only screen and (min-width: 773px) and (max-width: 1000px) {
  #after-about {
    height: 50vh;
  }
}
